body{
    font-size: 15px;
    font-family: Inter;
}
.bar{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 4em;
}
.close-menu{
    height: 2.5em;
    width: 2.5em;
    display: flex;
    justify-content:right;
}
.menu{
    display: none;
}
.menu-bar-mobile{
    height:40em;
    width: 10em;
    display:none;
    flex-direction: column;
    background-color: hsl(36, 100%, 99%);
    align-items:last baseline;
    
}
/* .menu-bar-mobile{
    display: none;

} */
a{
    text-decoration: none;
    margin-left:10px;
    color:hsl(240, 60%, 2%);
  
}
a:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}
.bar-option-desktop{
    display: flex;
    
}

strong:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
.grid-item{
    display: grid;
    grid-template-columns: 20em 20em 20em;
    grid-template-rows: 15em 15em 9em;
    gap: 1em;
    justify-content: center;
    
}
hr{
    width: 100%;
    color: hsl(233, 8%, 79%);
}
.web-3-image img{
     height: 15em;
     width:40em;
     grid-column: 1/3;
     grid-row:1/2 ;
}
.image1{
    display: block;
}
.image2{
    display: none;
}
.head-image img{
    height:8em;
}
.news-head{
    background-color: hsl(240, 100%, 5%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    grid-column: 3/4;
    font-size: 16px;
    padding: 1.6em;
}
.heading{
    grid-column: 1/2;
     grid-row:2/3 ;
     font-size: 3vh;
    
}
.info{
    grid-column: 2/3;
    grid-row:2/3 ;
    padding:2em;
}
.top-newshead1{
    grid-column: 1/2;
    grid-row:3/4 ;
}
.top-newshead2{
    grid-column: 2/3;
    grid-row:3/4 ;
}
.top-newshead3{
    grid-column: 3/4;
    grid-row:3/4 ;
}
.top-newshead1,.top-newshead2,.top-newshead3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.5em;
   
}
.top-news-heading:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}
h5{
    font-size: 1.3em;
    font-weight: bold;
    color:  hsl(5, 85%, 63%);
    margin-top: 6px;
margin-bottom: 10px;
}
h3{
    color: hsl(35, 77%, 62%);
}
.top-news-heading{
font-weight: bold;
}
p{
    font-size: 14px;
    color:hsl(236, 13%, 42%);
}
button{
    border: none;
    height: 3em;
    width: 12em;
    background-color: hsl(5, 85%, 63%);
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    letter-spacing: 0.2em;
}
button:hover{
    cursor: pointer;
    background-color: hsl(240, 100%, 5%);
}
@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@media screen and (max-width:480px){
    .image1{
        display: none;
    }
    .image2{
        display: block;
    }
    .image2:hover{
        cursor: pointer;
    }
   .bar-option-desktop{
    display: none;
   }
   .bar{
    gap: 10em;
   }
   .menu{
    display: block;
   }
   .close-menu{
    margin-top: 1em;
    margin-left: 10em;
   }
    .menu-bar-mobile{
        height:40em;
        width: 15em;
        flex-direction: column;
       
        display: inline-block;
    padding-left: 3em;
        margin-bottom: -45em;
        margin-left: 7.4em;
        position: absolute;
        z-index:1;
        visibility: hidden;
       
    }
    #menu-option{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2em;
    margin-top:10em;
    color: hsl(240, 60%, 2%);
    }
    .grid-item{
        display: grid;
        grid-template-columns: 20em;
        grid-template-rows: 15em 10em 15em 25em 8em 8em 8em;
        gap:5em;
        justify-content: center;
        align-items: center;
        
    }
    .web-3-image img{
        height: 20em;
        width:20em;
        grid-column: 1/2;
        grid-row:1/2 ;
   }
   .news-head{
   
    grid-row: 4/5;
    grid-column: 1/2;
   
}
    .heading{
        grid-column: 1/2;
         grid-row:2/3 ;
         font-size: 3vh;
        
    }
    .info{
        grid-column: 1/2;
        grid-row:3/4 ;
        padding:2em;
    }
    .top-newshead1{
        grid-column: 1/2;
        grid-row:5/6 ;
    }
    .top-newshead2{
        grid-column: 1/2;
        grid-row:6/7 ;
    }
    .top-newshead3{
        grid-column: 1/2;
        grid-row:7/8 ;
    }

}